helpers = require :helpers
ApplicationController = helpers.get_controller :application

class %controllerClassName% extends ApplicationController {
   @%modelName% = helpers.get_model("%modelName%")
   
   @index = -> {
      @render @index
   }
}

module.exports = new %controllerClassName%()