helpers = require(:helpers)

ApplicationModel = helpers.get_model :application

class %modelClassName% extends ApplicationModel {
  @initialize = -> {
    @name = "%modelName%"
    super
  }
}

module.exports = new %modelClassName%()
